div id="flash-container" class="mt-3"
  - if flash[:error]
    div class="alert alert-danger alert-dismissible fade show" id="flash_bar_danger" role="alert"
      = flash[:error]
      button.btn-close type="button" data-bs-dismiss="alert" aria-label="Close"
  - if flash[:notice]
    div class="alert alert-success alert-dismissible fade show" id="flash_bar_success" role="alert"
      = flash[:notice]
      button.btn-close type="button" data-bs-dismiss="alert" aria-label="Close"
