div class="row mt-5"
  div class="col-md-8 offset-md-2"
    - if current_account
      h1 Welcome back, #{current_account['username']}!
      p class="lead" You are logged into the Secure Bidding App.
      div class="mt-4"
        a href="/account/#{current_account['username']}" class="btn btn-primary" View Your Account
    - else
      h1 Welcome to Secure Bidding
      p class="lead" A secure platform for transparent bidding on projects.
      div class="mt-4"
        a href="/register" class="btn btn-primary btn-lg me-2" Register
        a href="/auth/login" class="btn btn-outline-primary btn-lg" Login
