- project_rows ||= []
- relationship_label ||= 'Owner'

- if project_rows.any?
  .table-responsive
    table.table.table-hover
      thead
        tr
          th Project Title
          th Budget
          th State
          th Your role
          th Actions
      tbody
        - project_rows.each do |project|
          tr
            td
              a href="/projects/#{project['id']}" = project['title']
            td
              - if project['budget_cents']
                = number_to_currency(project['budget_cents'] / 100.0)
              - else
                | N/A
            td
              span class="badge #{project_state_badge_class(project['state'])}"
                = project['state'].to_s.tr('_', ' ').capitalize
            td
              = project_relationship_label(project, relationship_label)
            td
              .btn-group role="group"
                a.btn.btn-sm.btn-info href="/projects/#{project['id']}" View
                - if allowed?(project, 'edit')
                  a.btn.btn-sm.btn-warning href="/projects/#{project['id']}/edit" Edit
                - if project['state'] == 'published' && allowed?(project, 'submit_bid')
                  a.btn.btn-sm.btn-primary href="/projects/#{project['id']}" Bid
- else
  .alert.alert-light.border No projects in this view yet.
