nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.shadow-sm role="navigation"
  div class="container"
    a.navbar-brand href="/" title="Freelance Procurement Hub"
      | Freelance Procurement Hub
    button.navbar-toggler type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation"
      span.navbar-toggler-icon

    div.collapse.navbar-collapse id="mainNavbar"
      ul.navbar-nav.ms-auto
        - if @current_account
          li.nav-item
            a.nav-link href="/" Home
          - if account_email_verified?(@current_account)
            li.nav-item
              a.nav-link href="/projects/my" Projects
          - if can_manage_accounts?(@current_account)
            li.nav-item
              a.nav-link href="/admin/users" Users
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
              = @current_account['username']
            ul.dropdown-menu.dropdown-menu-end
              li
                a.dropdown-item href="/account/#{@current_account['username']}" Account
              li
                a.dropdown-item href="/auth/logout" Logout
        - else
          li.nav-item
            a.nav-link href="/" Home
          li.nav-item
            a.nav-link href="/auth/login" Login
          li.nav-item
            a.nav-link href="/register" Register
