h2 Register

form action="/register" method="post"
  div
    label Username
    input type="text" name="username" required autofocus="autofocus"
  div
    label Email
    input type="email" name="email" required
  div
    p class="text-muted"
      | We will send a verification email before completing registration.
  div
    button type="submit" Register
